 **Question 1**

Given an integer `n`, return *`true` if it is a power of three. Otherwise, return `false`*.

An integer `n` is a power of three, if there exists an integer `x` such that `n == 3x`.

**Example 1:**

```
Input: n = 27
Output: true
Explanation: 27 = 33
```

**Example 2:**

```
Input: n = 0
Output: false
Explanation: There is no x where 3x = 0.

```

**Example 3:**

```
Input: n = -1
Output: false
Explanation: There is no x where 3x = (-1).
```

In [4]:
def test1(n):
    if n == 1:
        return True
    elif n <= 0 or n % 3 != 0:
        return False
    else:
        return test1(n // 3)

In [5]:
print(test1(27))

True

In [6]:
print(test1(0))

False

In [7]:
print(test1(-1))

False

**Question 2**

You have a list `arr` of all integers in the range `[1, n]` sorted in a strictly increasing order. Apply the following algorithm on `arr`:

- Starting from left to right, remove the first number and every other number afterward until you reach the end of the list.
- Repeat the previous step again, but this time from right to left, remove the rightmost number and every other number from the remaining numbers.
- Keep repeating the steps again, alternating left to right and right to left, until a single number remains.

Given the integer `n`, return *the last number that remains in* `arr`.

**Example 1:**

```
Input: n = 9
Output: 6
Explanation:
arr = [1, 2,3, 4,5, 6,7, 8,9]
arr = [2,4, 6,8]
arr = [2, 6]
arr = [6]

```

**Example 2:**

In [11]:
def test2(n):
    if n == 1:
        return 1
    else:
        return 2 * (n // 2 + 1 - test2(n // 2))

In [12]:
print(test2(9))

6

**Question 3**

****Given a set represented as a string, write a recursive code to print all subsets of it. The subsets can be printed in any order.

**Example 1:**

Input :  set = “abc”

Output : { “”, “a”, “b”, “c”, “ab”, “ac”, “bc”, “abc”}

**Example 2:**

Input : set = “abcd”

Output : { “”, “a” ,”ab” ,”abc” ,”abcd”, “abd” ,”ac” ,”acd”, “ad” ,”b”, “bc” ,”bcd” ,”bd” ,”c” ,”cd” ,”d” }

In [15]:
def test3(set_str, current_subset="", index=0, subsets=None):
    if subsets is None:
        subsets = []

    if index == len(set_str):
        subsets.append(current_subset)
        return

    test3(set_str, current_subset, index + 1, subsets)  # Exclude the current character
    test3(set_str, current_subset + set_str[index], index + 1, subsets)  # Include the current character

    return sorted(subsets)

In [16]:
test3("abc")

['', 'a', 'ab', 'abc', 'ac', 'b', 'bc', 'c']

In [17]:
test3("abcd")

['',
 'a',
 'ab',
 'abc',
 'abcd',
 'abd',
 'ac',
 'acd',
 'ad',
 'b',
 'bc',
 'bcd',
 'bd',
 'c',
 'cd',
 'd']

 **Question 4**

Given a string calculate length of the string using recursion.

**Examples:**
Input : str = "abcd"
Output :4

Input : str = "GEEKSFORGEEKS"
Output :13

In [28]:
def test4(string):
    if string == "":
        return 0
    else:
        return 1 + test4(string[1:])

In [29]:
test4("abcd")

4

In [30]:
test4("GEEKSFORGEEKS")

13

 **Question 5**

We are given a string S, we need to find count of all contiguous substrings starting and ending with same character.

**Examples :**
Input  : S = "abcab"
Output : 7
There are 15 substrings of "abcab"
a, ab, abc, abca, abcab, b, bc, bca
bcab, c, ca, cab, a, ab, b
Out of the above substrings, there
are 7 substrings : a, abca, b, bcab,
c, a and b.

Input  : S = "aba"
Output : 4
The substrings are a, b, a and aba

In [49]:
def test5(S):
    if len(S) < 2:
        return len(S)

    count = 0

    if S[0] == S[-1]:
        count += 1

    count += test5(S[:-1]) + test5(S[1:]) - test5(S[1:-1])

    return count

In [50]:
print(test5("abcab"))

7

In [51]:
print(test5("aba"))

4

**Question 6**

The [tower of Hanoi](https://en.wikipedia.org/wiki/Tower_of_Hanoi) is a famous puzzle where we have three rods and **N** disks. The objective of the puzzle is to move the entire stack to another rod. You are given the number of discs **N**. Initially, these discs are in the rod 1. You need to print all the steps of discs movement so that all the discs reach the 3rd rod. Also, you need to find the total moves.**Note:** The discs are arranged such that the **top disc is numbered 1** and the **bottom-most disc is numbered N**. Also, all the discs have **different sizes** and a bigger disc **cannot** be put on the top of a smaller disc. Refer the provided link to get a better clarity about the puzzle.

**Example 1:**

```
Input:
N = 2
Output:
move disk 1 from rod 1 to rod 2
move disk 2 from rod 1 to rod 3
move disk 1 from rod 2 to rod 3
3
Explanation:For N=2 , steps will be
as follows in the example and total
3 steps will be taken.
```

**Example 2:**
Input:
N = 3
Output:
move disk 1 from rod 1 to rod 3
move disk 2 from rod 1 to rod 2
move disk 1 from rod 3 to rod 2
move disk 3 from rod 1 to rod 3
move disk 1 from rod 2 to rod 1
move disk 2 from rod 2 to rod 3
move disk 1 from rod 1 to rod 3
7
Explanation:For N=3 , steps will be
as follows in the example and total
7 steps will be taken.

In [54]:
def test6(N, source, auxiliary, destination):
    if N == 1:
        print("move disk 1 from rod", source, "to rod", destination)
        return 1

    count = 0

    count += test6(N - 1, source, destination, auxiliary)
    print("move disk", N, "from rod", source, "to rod", destination)
    count += 1
    count += test6(N - 1, auxiliary, source, destination)

    return count

In [55]:
N = 2
total_moves = test6(N, 1, 2, 3)
print("Total moves:", total_moves)

move disk 1 from rod 1 to rod 2
move disk 2 from rod 1 to rod 3
move disk 1 from rod 2 to rod 3
Total moves: 3

In [56]:
N = 3
total_moves = test6(N, 1, 2, 3)
print("Total moves:", total_moves)

move disk 1 from rod 1 to rod 3
move disk 2 from rod 1 to rod 2
move disk 1 from rod 3 to rod 2
move disk 3 from rod 1 to rod 3
move disk 1 from rod 2 to rod 1
move disk 2 from rod 2 to rod 3
move disk 1 from rod 1 to rod 3
Total moves: 7

 **Question 7**

Given a string **str**, the task is to print all the permutations of **str**. A **permutation** is an arrangement of all or part of a set of objects, with regard to the order of the arrangement. For instance, the words ‘bat’ and ‘tab’ represents two distinct permutation (or arrangements) of a similar three letter word.

**Examples:**

> Input: str = “cd”
> 
> 
> **Output:** cd dc
> 
> **Input:** str = “abb”
> 
> **Output:** abb abb bab bba bab bba
>

In [80]:
def test7(str, current=""):
    if len(str) == 0:
        print(current, end=" ")
        return

    for i in range(len(str)):
        new_str = str[:i] + str[i+1:]
        test7(new_str, current + str[i])

In [81]:
test7("cd")
print()
test7("abb")

cd dc
abb abb bab bba bab bba

**Question 8**

Given a string, count total number of consonants in it. A consonant is an English alphabet character that is not vowel (a, e, i, o and u). Examples of constants are b, c, d, f, and g.

**Examples :**
Input : abc de
Output : 3
There are three consonants b, c and d.

Input : geeksforgeeks portal
Output : 12

In [108]:
def test8(str):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if len(str) == 0:
        return 0

    count = test8(str[1:])
    if str[0].lower() not in vowels and str[0].isalpha():
        count += 1

    return count

In [110]:
print(test8("abc de"))

3

In [112]:
print(test8("geeksforgeeks portal"))

12